<img style="width: 100%;" src="static/fraternity.jpg">
<br />
<br />
<div class="container">
      <div class="jumbotron col-md-offset-1 col-md-10">
            <!--<h1 class="brand-text">PHI KAPPA TAU</h1>-->
            <img src="static/pkt_red.png" style="max-height: 200px;" class="img-responsive center-block" />
            <p class="text-center">The Epsilon Chi chapter of Phi Kappa Tau (also known as Phi Tau) is a fraternity at Virginia Tech, dedicated to learning,
                    leading and serving. Founded in 2000, Epsilon Chi has built a reputation for superior gentlemen,
                    leaders, and community members.
            </p>

            <p class="text-center">
                <a class="btn btn-lg btn-default" [routerLink] = "['/rush']">Rush Schedule &raquo;</a>
            </p>
      </div>
<div class="container">
      <div class="row">
        <div class="col-md-4">
          <h2>Learning <span class="glyphicon glyphicon-education" aria-hidden="true"></span></h2>
          <p>Academics are a priority in Phi Kappa Tau. We are first and foremost scholars and learners, dedicated to the pursuit of higher knowledge. Members are held to a high standard of academic excellence.</p>
        </div>
        <div class="col-md-4">
          <h2>Leading <span class="glyphicon glyphicon-star" aria-hidden="true"></span></h2>
          <p>The brothers of Phi Kappa Tau are leaders both within the organization and in the community. We understand that leadership is not defined by an official title, but by our actions on an everyday basis.</p>
       </div>
        <div class="col-md-4">
          <h2>Serving <span class="glyphicon glyphicon-heart" aria-hidden="true"></span></h2>
          <p>Virginia Tech's motto - <a href="http://www.dsa.vt.edu/aspirations/utprosim.php" target="_blank" >Ut Prosim</a> - is alive and well in Phi Kappa Tau. Whether it is serving the Blacksburg community or our national philanthropy, <a href="https://www.seriousfunnetwork.org/" target="_blank">Serious Fun</a>, members of Phi Kappa Tau are always giving back.</p>
        </div>
      </div>
      <br />
</div>
</div>