header {
    font-family: sans-serif;
    width: 100%;
    text-align: center;
}


h1 {
    margin-bottom: 0;
}

.indent {
    margin-left: 25px;
}

.navbar-fixed-top {
      margin-bottom: 0px !important;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.foot_logo {
  height: 40px;
  width: auto;
  margin-top: -10px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
  text-align: center;
}

.foot_bar {
  text-align: center;
}

.foot_bar a {
  padding-left: 10px;
  padding-right: 10px;
}



/*.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}*/