<header>
    <!--<div class="container">-->
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <!--<a class="navbar-brand" href="#">
              {{title}}
              </a>-->
            <img class="navbar-brand" src = 'static/pkt-wordmark.png' />
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav centered">
              <li><a [routerLink]="['/']">Home</a></li>
              <li><a [routerLink]="['/rush']">Rush</a></li>
              <li><a [routerLink]="['/leadership']">Leadership</a></li>

            </ul>

          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>
    <!--</div>-->
</header>

<router-outlet></router-outlet>

<hr />

<footer>
  <div class="container" class="foot_bar">
    <p class="text-muted">
                          <a href="http://phikappatau.org" target="_blank"><strong>© Phi Kappa Tau</strong></a> |
                          <a href="https://twitter.com/vtphikappatau" target="_blank"><strong>Twitter</strong></a> |
                          <a href="http://vtifc.org" target="_blank"><strong>Virginia Tech IFC</strong></a> |
                          <a href="https://github.com/zakkl13/PKT" target="_blank"><strong>Source</strong></a>
    </p>
  </div>
</footer>
