<div class="container">

<br />
<center><img class="img-responsive center-block" src="static/formal_lockup.jpg" /></center>


<br />
<div class="panel panel-default">
  <div class="panel-body text-center">
    <p>
      Looking to join a fraternity? Do you want to become a man of character and distinction? Are you simply looking for something to do?
      Feel free to come to a rush event and meet the brothers of Phi Kappa Tau.
      Join our Facebook <a href="http://facebook.com">group</a> for more information and updates. Any questions or concerns? Text or call
      Collin Choy at 410-555-5555
    </p>
  </div>
</div>
  <div class="page-header text-center">
  <h1> 2016 Fall Rush Schedule</h1>
</div>
<div *ngIf="error_flag" class="alert alert-danger">
  <strong>Uh oh!</strong> Unable to retrieve rush events at this time, please try again later.
</div>
<div *ngIf="!loaded" class="center-block">
<link rel="stylesheet" type="text/css" href="../static/ring.css">
      <div class='uil-ring-css' style='transform:scale(0.5);'><div></div></div>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2 container">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div *ngFor= "let event of events; let i=index"  class="panel panel-default">
          <div class="panel-heading" role="tab" id="heading{{i}}">
            <h4 class="panel-title text-center">
              <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{i}}" aria-expanded="true" [attr.aria-controls]="'#collapse'+i">
                {{event.title}} - {{event.day}}
              </a>
          </h4>
        </div>
        <div id="collapse{{i}}" class="panel-collapse collapse out" role="tabpanel" [attr.aria-labelledby]="'heading'+i">
          <div class="panel-body" style="padding: 0px;">
            <img [src]="event.img" class="img-responsive center-block" style="width: 100%; max-height: 250px;" />
            <div class="container col-md-10 col-md-offset-1 event_body">
              <hr>
                  <div class="row">
                      <div class="col-md-6 text-center" >
                        <h4><strong>Time:</strong> {{event.time_of_day}}</h4>
                      </div>
                      <div class="col-md-6 text-center" >
                        <h4><strong>Location:</strong> {{event.location}}</h4>
                      </div>
                      <!--<p>{{event.body}}</p></div>-->
                  </div>
            </div>
            <br />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class=""><button type="button" [routerLink] = "['/list']" class="btn btn-lg btn-primary center-block"><span class="glyphicon glyphicon-sunglasses" aria-hidden="true"></span> &raquo;</button></div>
</div>
</div>