<div class="container">

<br />
<center><img class="img-responsive center-block" src="https://s3.amazonaws.com/pkt-images/formal_lockup.jpg" /></center>


<br />
<div class="panel panel-default">
  <div class="panel-body">
    <p class="col-md-10 col-md-offset-1" style="text-indent: 20px">
      Attending a university along side 25,000 other students can be daunting. Brothers of Phi Kappa Tau enjoy a smaller,
      tight-knit community, academic support, leadership opportunities, and many professional benefits.
    </p>
    <p class="col-md-10 col-md-offset-1" style="text-indent: 20px">
      Prospective members are encouraged to come to any and all of the events listed below to get a chance to recieve a bid for membership. If you have any further questions, reach out to Collin Choy, our recruitment chair, at (571) 268-6724.
    </p>
  </div>
</div>
  <div class="page-header text-center">
  <h1> 2016 Fall Rush Schedule</h1>
</div>
<div *ngIf="error_flag" class="alert alert-danger">
  <strong>Uh oh!</strong> Unable to retrieve rush events at this time, please try again later.
</div>
<div *ngIf="!loaded" class="center-block">
<link rel="stylesheet" type="text/css" href="../static/ring.css">
      <div class='uil-ring-css' style='transform:scale(0.5);'><div></div></div>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2 container">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div *ngFor= "let event of events; let i=index"  class="panel panel-default">
          <div class="panel-heading" role="tab" id="heading{{i}}">
            <h4 class="panel-title text-center">
              <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{i}}" aria-expanded="true" [attr.aria-controls]="'#collapse'+i">
                {{event.title}} - {{event.day}}
              </a>
          </h4>
        </div>
        <div id="collapse{{i}}" class="panel-collapse collapse out" role="tabpanel" [attr.aria-labelledby]="'heading'+i">
          <div class="panel-body" style="padding: 0px;">
            <img [src]="event.img" class="img-responsive center-block" style="width: 100%; max-height: 200px;" />
            <div class="container col-md-10 col-md-offset-1 event_body">
              <hr>
                  <div class="row">
                      <div class="col-md-6 text-center" >
                        <h4><strong>Time:</strong> {{event.time_of_day}}</h4>
                      </div>
                      <div class="col-md-6 text-center" >
                        <h4><strong>Location:</strong> {{event.location}}</h4>
                      </div>
                      <p class="text-center">{{event.body}}</p>
                  </div>
            </div>
            <br />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class=""><button type="button" [routerLink] = "['/list']" class="btn btn-lg btn-primary center-block"><span class="glyphicon glyphicon-sunglasses" aria-hidden="true"></span> &raquo;</button></div>
</div>
</div>