html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: lightgray;
}

.navbar-static-top {
      margin-bottom: 0px !important;
}

/*@media (max-width: 979px){
    body{
      padding-left:0 !important;
      padding-right: 0 !important;
    }



}*/