html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: lightgray;
  margin-bottom: 60px;
}

.container {
  width: auto;
  max-width: 825px;
  padding: 0 15px;
}


/*@media (max-width: 979px){
    body{
      padding-left:0 !important;
      padding-right: 0 !important;
    }



}*/